@import url("base.css");
@import url("header.css");
@import url("hero.css");
@import url("filter.css");
@import url("book-main.css");
@import url("footer.css");
.show {
    transform: translateY(0);
}

@media (min-width:800px) {
    .app {
        max-width: 900px;
        margin: 0 auto;
    }
}

@media (min-width:1000px) {
    .app {
        max-width: 1200px;
        margin: 0 auto;
    }
}